{
    "epm" :           1.046465,
    "bsm" :          -0.0579798,
    "esm" :          -0.05232323,
    "eprox" :         0.09191919,
    "bprox" :         1.126263,
    "splash" :        0.04606061,
    "stay_val" :      1.157576,
    "max_edge_str" :  314.6465,
    "max_stay_strn" : 34.09091,
    "falloff" :       2.049495,
    "border_cutoff" : 61.51515
}
