{
    "max_time": 0.94,
    "time_check_frequency": 10,
    "splash_value_multiplier": 0.9,
    "stay_value_multiplier": 2.68,
    "max_stay_strength": 100,
    "enemy_production_multiplier": 1.2,
    "cap_avoidance": 5000,
    "falloff_exponent": 1.8,
    "exclude_str": true,
    "nopp": 1,
    "dim": 25
}
