{"epm":0.7182,"bsm":-0.0345,"esm":-0.168,"eprox":0.1369,"bprox":1.3283,"splash":0.0361,"stay_val":0.9626,"max_edge_str":337.3737,"max_stay_strn":34.596,"falloff":2.1475,"border_cutoff":52.8788,"stay_border_bonus":0.0162,"earlygame_max_t":46,"earlygame_order":6,"earlygame_max_area":16,"earlygame_decay":false,"earlygame_all_border":false,"min_wait_turns":7,"name":"DexBot","ave_placement":0,"agg_placement":0}
