{
    "roi_boost": 1.9394,
    "warmongery": 0.8364,
    "assumed_combat": 13.3333,
    "dist_lim": 2.4848,
    "combat_wait": 1.9848,
    "noncombat_wait": 4.0758,
    "max_wait": 5.5808,
    "min_dpdt": 0.0089,
    "roi_skew": 3.3141,
    "blur_sigma": 2,
    "global_exponent": 0.6242,
    "name": "DexBot",
    "ave_placement": 0,
    "agg_placement": 0
}
