{
    "epm": 0.9060606,
    "bsm": -0.1054545,
    "esm": -0.062,
    "eprox": 0.17121212,
    "bprox": 0.8838384 ,
    "splash": 0.02277778,
    "stay_val": 0.8141414,
    "stay_border_bonus": 0.005,
    "max_edge_str": 387.9,
    "max_stay_strn": 64.9,
    "falloff": 1.98,
    "border_cutoff": 57.32,
    "earlygame_max_t": 16,
    "earlygame_decay": false,
    "earlygame_order": 5,
    "earlygame_max_area": 10,
    "earlygame_all_border": false,
    "min_wait_turns":5,
    "name":"RefBot"
}
