{
    "epm": 1.012121,
    "bsm": -0.05808081,
    "esm": -0.05474747,
    "eprox": 0.1344444,
    "bprox": 0.8737374,
    "splash": 0.03747475,
    "stay_val": 1.216667,
    "stay_border_bonus": 0.0,
    "max_edge_str": 338.3838,
    "max_stay_strn": 25.90909,
    "falloff": 2.043434,
    "border_cutoff": 60.85859,
    "earlygame_max_t": 55,
    "earlygame_decay": false,
    "earlygame_order": 5,
    "earlygame_max_area": 10,
    "earlygame_all_border": false,
    "min_wait_turns":5,
    "name":"RefBot"
}
